:root {
    --green: #b7ca81;
    --green-light: #A0D6A1;
    --pink: #D08791;
}

.anima:hover {
    background-color: white;
    transform: translate(0px, 5px);
}

.baby-yoda {
    width: 6em;
    height: 4em;
    border-radius: 3em 3em 4.5em 4.5em;
    background: var(--green);
    position: relative;
    cursor: pointer;

    background-image: 
        radial-gradient(
            circle at 1.5em,
            #fff, 
            #fff .25em,
            transparent .3em
        ),
        radial-gradient(
            circle at 1em,
            #000,
            #000 .9em,
            transparent 1em
        );

    background-position: 0.6em 0.35em, 0.7em 0.6em;
    background-size: 2.75em 2em;
    background-repeat: repeat-x;

    animation: eyes 2s cubic-bezier(.8, .02, .2, .96) infinite;

    @keyframes eyes {
        to {
            background-size: 2.75em 1.5em;
        }
    }

    &::before, &::after {
        content: '';
        display: block;
        width: 5em;
        height: 1.5em;
        background: var(--pink);
        border-top: solid .5em var(--green);
        position: absolute;
        top: 0.7em; /* Adjust the top positioning to connect with the head */
        margin: 0 -1em;
        z-index: -1;
        border-radius: 2em 1em;

        transform: rotate(0deg);
        transform-origin: top;

        transition: transform 0.5s ease-in-out;
    }

    &::before {
        right: 100%;
        border-bottom-left-radius: 9em 4em;
    }

    &::after {
        left: 100%;
        border-bottom-right-radius: 9em 4em;
    }

    &:hover::before {
        transform: rotate(-20deg); /* Ears rotate upwards */
    }

    &:hover::after {
        transform: rotate(20deg); /* Ears rotate upwards */
    }
}

html {
    height: 100%;
    display: flex;
}

body {
    margin: auto;
}


@@ -1.103 +1.91 @@
: raiz {
    --verde :  # b7ca81 ;
    --luz-verde :  # A0D6A1 ;
    --rosa :  # D08791 ;
}





. anima : pairar {

. anima : pairar {
    cor de fundo : branco;
    transformar :  traduzir ( 0 px ,  5 px );


}

. bebê-yoda {
. bebê-yoda  {
    largura :  6 cm ;
    altura :  4 cm ;
    raio da borda :  3 em  3 em  4,5 em  4,5 em ;
    fundo :  var ( --green );
    posição : relativa;
    cursor : ponteiro;



    imagem de fundo : 
           gradiente radial (
        círculo a 1,5 em ,
        # fff , 
        # fff  .25 em ,
        transparente .3 em ) ,
    gradiente radial (
        círculo em 1 em ,
        # 000 ,
        # 000  .9 em ,
        transparente 1 em
    );
        gradiente radial (
            círculo a 1,5 em ,
            # fff , 
            # fff  .25 em ,
            transparente .3 em
        ) ,
        gradiente radial (
            círculo em 1 em ,
            # 000 ,
            # 000  .9 em ,
            transparente 1 em
        );

    posição de fundo :  0,6 em  0,35 em ,  0,7 em  0,6 em ;
    tamanho do fundo :  2,75 em  2 em ;
    fundo-repetir : repetir-x;


    animação : olhos 2 s  cúbico-bezier ( .8 ,  .02 ,  .2 ,  .96 ) infinito;

    @keyframes olhos {
        para {
        para  {
            tamanho do fundo :  2,75 cm  1,5 cm ;
        }
    }

    & :: antes ,  & :: depois {
    & :: antes ,  & :: depois  {
        contente :  '' ;
        exibir : bloco;
        largura :  5 cm ;
        altura :  1,5 cm ;
        fundo :  var ( --pink );
        border-top : sólido .5 em  var ( --green );
        posição : absoluta;
        topo :  0,5 em ;​
        topo :  0,7 em ; /* Ajuste o posicionamento do topo para conectar com a cabeça * /
        margem :  0  -1 em ;
        índice z :  -1 ;
        raio da borda :  2 em  1 em ;


        animação : orelhas 2 s  cúbico-bezier ( .8 ,  .02 ,  .2 ,  .96 ) infinito alternado;
        transformar :  girar ( 0 graus );
        transform-origin : topo;

        @keyframes orelhas {
            para {  
                transformar : girar ( var ( --rotate )); }
          }
        }
        transição : transformação 0,5 s de entrada e saída;
    }

        & :: antes {
            --rotate :  20 graus ;
            transform-origin : centro direita;
            certo :  100 % ;
            raio-inferior-esquerdo-da-borda :  9 em  4 em ;


        }
    & :: antes {
        certo :  100 % ;
        raio-inferior-esquerdo-da-borda :  9 em  4 em ;
    }

        & :: depois {
            --rotate :  -20 graus ;
            transform-origin : centro esquerda;
            esquerda :  100 % ;
            raio-inferior-direito-da-borda :  9 em  4 em ;

    & :: depois {
        esquerda :  100 % ;
        raio-inferior-direito-da-borda :  9 em  4 em ;
    }

        }
    & : hover :: antes de {
        transform :  rotate ( -20 graus ); /* As orelhas giram para cima */
    }

    html {
    & : hover :: depois {
        transformar :  girar ( 20 graus ); /* As orelhas giram para cima */
    }
}

html {
    altura :  100 % ;
    exibição : flex;
}
corpo {

corpo {
    margem : automático;

}

